@import url(./reset.css);

.alert {
    display: none;
}

.contents .container-content .list-group {
    display: none;
}

.contents .container-content .list-group.show {
    display: block;
}

.container-content {
    padding-top: 100px;
}

.black-bg {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    padding: 30px;
    top: 0%;
    left: 0%;
}

.white-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 5px;
    padding: 30px;
}

.mainBg {
    padding: 100px 20px;
    background: lightgray;
}

body.dark {
    background: #000;
    color: #fff;
}

.alert.alert-danger.show {
    display: block;
}

.slide-container {
    width: 300vw;
    transition: all 1s;
}

.slide-box {
    width: 100vw;
    float: left;
}

.slide-box img {
    width: 100%;
}

.navbar.navbar-light {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.terms {
    width: 200px;
    height: 100px;
    overflow-y: scroll;
}

.progressBarWrap {
    width: 100%;
    height: 2px;
}

.progressBarWrap .progressBar {
    width: 0;
    height: 2px;
    background: #000;
    transition: width 100ms ease-in-out;
}